<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxYvJjXWSNa98TEQnC8eglCVdtlBoQb_E">
  </script>
  <%= form_for(provider) do |f| %>
    <% if provider.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

        <ul>
          <% provider.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label>Tu eres</label>
      <%= f.select :user_type, options_for_select([[ "Proveedor", "provider" ],[ "Comprador", "buyer"],[ "Proveedor/Comprador", "provider/buyer"]]), {:class => "contact__field contact__field--email "} %>
    </div>

    <div class="field">
      <label>Nombre</label>
      <%= f.text_field :name, :required => true %>
    </div>

    <div class="field">
      <label>Apellidos</label>
      <%= f.text_field :lastName, :required => true %>
    </div>

    <div class="field">
      <label>Telefono</label>
      <%= f.text_field :telephone, :required => true %>
    </div>
    <h4>Dirección</h4>
    <div class="row" id="address">
      <div class="col m12">
       <%= fields_for @address do |fa| %>
        <div class="col m6">
          <label>Calle</label>
          <%= fa.text_field :street, :required => true, :class => "address", :id => "street" %>
        </div>

        <div class="col m6">
          <label>Numero Exterior</label>
          <%= fa.text_field :street_number, :required => true, :class => "address", :id => "street_number"%>
        </div>

        <div class="col m6">
          <label>Numero Interior</label>
          <%= fa.text_field :suite, :required => true %>
        </div>

        <div class="col m6">
          <label>Codigo Postal</label>
          <%= fa.text_field :zip_code, :required => true, :class => "address", :id => "zip_code" %>
        </div>

        <div class="col m6">
          <label>Colonia</label>
          <%= fa.text_field :colony, :required => true, :class => "address", :id => "colony" %>
        </div>

        <div class="col m6">
          <label>País</label>
          <%= fa.text_field :country, :required => true, :class => "address", :id => "country" %>
        </div>

        <div class="col m6">
          <label>Ciudad</label>
          <%= fa.text_field :city, :required => true, :class => "address", :id => "city" %>
        </div>

        <div class="col m6">
          <label>Municipio/Alcaldia</label>
          <%= fa.text_field :town, :required => true, :class => "address", :id => "town" %>
        </div>

        <div class="col m6">
          <label>Estado</label>
          <%= fa.text_field :federal_entity, :required => true, :class => "address", :id => "federal_entity" %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="actions" align="center">
      <%= f.submit "Crear", :class => "waves-effect waves-light btn-large" %>
    </div>
  <% end %>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <ul class="collection" id="content-model-address">
      </ul>
    </div>
  </div>
  <div id="map-canvas" style="width:1000px;height:500px"></div>

