<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxYvJjXWSNa98TEQnC8eglCVdtlBoQb_E">
  </script>
  <%= form_for(provider) do |f| %>
    <% if provider.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

        <ul>
          <% provider.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label>Tu eres</label>
      <%= f.select :user_type, options_for_select([[ "Proveedor", "provider" ],[ "Comprador", "buyer"]]), {:class => "contact__field contact__field--email "} %>
    </div>

    <div class="field">
      <label>Nombre</label>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <label>Apellidos</label>
      <%= f.text_field :lastName %>
    </div>

    <div class="field">
      <label>Telefono</label>
      <%= f.text_field :telephone %>
    </div>
    <h4>Dirección</h4>
    <div class="row" id="address">
      <div class="col m12">
        <div class="col m6">
          <label>Calle</label>
          <input type="text" name="street" class="address" />
        </div>

        <div class="col m6">
          <label>Numero Exterior</label>
          <input type="text" name="street_number" class="address"/>
        </div>

        <div class="col m6">
          <label>Numero Interior</label>
          <input type="text" name="suite"  />
        </div>

        <div class="col m6">
          <label>Codigo Postal</label>
          <input type="text" name="zip_code" class="address" />
        </div>

        <div class="col m6">
          <label>Colonia/Municipio/Alcaldia</label>
          <input type="text" name="colony" class="address" />
        </div>

        <div class="col m6">
          <label>País</label>
          <input type="text" name="country" class="address" />
        </div>

        <div class="col m6">
          <label>Ciudad</label>
          <input type="text" name="city" class="address" />
        </div>

        <div class="col m6">
          <label>Poblado</label>
          <input type="text" name="town" class="address"/>
        </div>

        <div class="col m6">
          <label>Entidad Federativa</label>
          <input type="text" name="federal_entity" class="address" />
        </div>
      </div>
    </div>

    <div class="actions" align="center">
      <%= f.submit "Crear", :class => "waves-effect waves-light btn-large" %>
    </div>
  <% end %>
  <div id="map-canvas" style="width:1000px;height:500px"/>

