<p id="notice"><%= notice %></p>

<h2 class="block-title block-title--top-larger">Providers</h2>
<section class="container">
    <h3 class="not-visible">Main conrainer</h3>
    <!-- end row -->
    <div class="row testimonial-area">
      <% @providers.each do |provider| %>
        <div class="col-sm-3 col-md-3">
            <div class="testimonial testimonial--centered">
                <div class="testimonial__images">
                  <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/user_unknow.jpg"%>
                </div>
                <p class="testimonial__author"><%= provider.name %> <%= provider.lastName %></p>
                <p class="testimonial__info"><%= provider.nickname %></p>
                <br />
                <p class="testimonial__text"><%= link_to 'Show', provider %></p>
            </div>
        </div>
      <% end %>
    </div>
    <!-- end row -->
</section>

<br>

<%= link_to 'New Provider', new_provider_path %>
