<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxYvJjXWSNa98TEQnC8eglCVdtlBoQb_E">
</script>

<div class="container">
  <div class="row">
    <div class="col m12">
      <p id="notice"><%= notice %></p>
      <div class="col s12 m12">
        <div class="col s12 m6">
          <h3><%= @provider.to_s %></h3>
        </div>
        <div class="col s12 m3">
          <div class="thumbnail">
            <%= image_tag "#{@provider.s3_asset.to_s}" %>
          </div>
        </div>
        <div class="col s12 m3">
          <%= link_to "Mis Productos", products_provider_path, :class => "waves-effect waves-light btn" %>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <h5 class="header">Datos Personales</h5>
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <p><b>Correo Electronico</b> <%= @provider.user.email %></p>
                  <p><b>Telefono</b> <%= @provider.telephone %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <h5 class="header">Dirección</h5>
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <p class="show_address"><%= @provider.address.to_s %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m12">
          <%= form_tag(provider_image_path, method:"post",multipart: true ) do %>
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="file">
              </div>
              <div class="file-path-wrapper col s12 m9">
                <input class="file-path validate col s12 m9" type="text">
              </div>
            </div>
            <%= hidden_field_tag 'id_provider', @provider.id %>
            <%= submit_tag 'Subir', class:"btn btn--decorated btn-warning btn-submit col s12 m1" %>
          <% end %>
        </div>
        <div id="map-canvas" style="width:100%;height:500px"></div>
      </div>
    </div>
  </div>
</div>
