<div class="container">
  <div class="row">
    <h2>Crea un acceso</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <label for="email">Correo electr칩nico</label>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <label for="password">Establece una contrase침a</label>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> car치cteres al menos</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <label for="password_confirmation">Confirma tu contrase침a</label>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Crea tu registro", :class => "waves-effect waves-light btn" %>
      </div>
    <% end %>

  </div>
</div>
