
<section class="forum--alt">
  <div class="forum">
    <h2 class="forum__heading">Creamos los vínculos entre productores y distribuidores mexicanos</h2>
    <h3 class="forum__describe">Encuentra el producto ques estás buscando, encuentra al comprador que estás buscando</h3>
  </div>
  <%= form_tag("/product/category/state", method: "post", class:"search search--light search--large") do %>
    <%= text_field_tag 'search', nil, class:"search__field ", placeholder:"Palabras clave(Ej.: Mango, Jalisco, Michoacán, Costilla, Bultos)" %>
    <%= submit_tag 'Buscar', class:"btn btn-info btn--decorated" %>
  <% end %>
</section>
<div class="staff-container" id="team">
    <section class="container">
        <h2 class="block-title block-title--top-larger">Nuestra presencia en...</h2>
          <div class="row">
              <% @estados.each do | mapa | %>
                    <% mapa.each_with_index do | (name, description), index | %>
                            <%= link_to product_search_path(name.downcase), :class=> "post" do %>
                                  <div class="col-sm-3">
                                          <h5 class="staff__name"><%= (name.to_s.include?('_') ? name.to_s.gsub!('_', ' ') : name.to_s) %></h5>
                                  </div>
                              <% end %>
                    <% end %>
              <% end %>
            </div>
    </section>
</div>
<section class="page-indecator">
    <div class="container">
        <h2 class="block-title block-title--top-larger">Grupos Agropecuarios</h2>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="gallery-wrapper">
          <%= Category.find_each do | category | %>
            <div class="col-sm-4">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner">
                      <% if category.name == 'Frutas' %>
                        <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/frutas.jpg",size: "1110x240" %>
                      <% else %>
                        <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/#{category.name.downcase}.jpg",size: "1110x240" %>
                      <% end %>
                    </div>
                    <div class="gallery-item__info desktop-middle">
                        <h3 class="gallery-item__heading"><%= category.name %></h3>
                        <%= link_to 'Ver los productos', {:controller => "categories",:action=> "search",:id => "#{category.name}"},{ :class=> "btn btn-warning btn--decorated gallery-item__link"  }%>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>

</section>


<section class="page-indecator">
    <div class="container">
        <h2 class="block-title block-title--top-larger">Productores destacados</h2>
    </div>
</section>
<div class="swiper-container fading-slider">
    <div class="swiper-wrapper">
      <%= Provider.find_each do | provider | %>
        <div class="swiper-slide swiper-no-swiping">
            <div class="service">
                <div class="icon icon--strips">
                  <i class="fa fa-users" aria-hidden="true">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                  <h3 class="service__heading"><%= provider.to_s %></h3>
                </a>
                <p><%= provider.country %></p>
            </div>
          </div>
      <% end %>
    </div>
    <div class="fade-slider-control">
        <a class="prev-arrow" href="#"><i class="fa fa-angle-left"></i></a>
        <a class="next-arrow" href="#"><i class="fa fa-angle-right"></i></a>
    </div>
    <!-- end slider controls-->
    <div class="clearfix"></div>
    <div class="product-slider-pagination fade-pagination"></div>
</div>
<script>
$(document).ready(function() {

    fadingSlider();
    staffSlider();

        $('.achivement-item').one('inview', function(event, visible) {
            if (visible == true) {
                $('.achivement-item__marker.start-1').addClass('zoomIn');
                $('.achivement-item__marker.start-2').addClass('zoomIn stage2');
                $('.achivement-item__marker.start-3').addClass('zoomIn stage3');
            }
        });

        $('.promo__btn').one('inview', function(event, visible) {
            if (visible == true) {
                $('.promo__btn').addClass('fadeInUp');

                setTimeout(function() {
                    $('.promo__btn').removeClass('fadeInUpStart');
                }, 1000);
            }
        });

        $('.about ').one('inview', function(event, visible) {
            if (visible == true) {
                $('.about-img').addClass('fadeInUp');
            }
        });

});
</script>
