
<section class="forum--alt">
  <div class="forum">
    <h2 class="forum__heading">El pasaje estándar Lorem Ipsum, usado desde el año 1500.</h2>
    <h3 class="forum__describe">Sección 1.10.32 de "de Finibus Bonorum et Malorum", escrito por Cicero en el 45 antes de Cristo</h3>
  </div>
  <%= form_tag("/product/category/state", method: "post", class:"search search--light search--large") do %>
    <%= text_field_tag 'search', nil, class:"search__field ", placeholder:"Busqueda de Categorias" %>
    <%= submit_tag 'Buscar', class:"btn btn-info btn--decorated" %>
  <% end %>
</section>
<div class="staff-container" id="team">
    <section class="container">
        <h2 class="block-title block-title--top-larger">Estados</h2>
          <div class="row">
              <% @estados.each do | mapa | %>
                    <% mapa.each_with_index do | (name, description), index | %>
                            <%= link_to product_search_path(name.downcase), :class=> "post" do %>
                                  <div class="col-sm-3">
                                          <h5 class="staff__name"><%= name %></h5>
                                  </div>
                              <% end %>
                    <% end %>
              <% end %>
            </div>
        <div class="divider-brand top-space"></div>
    </section>
</div>
<section class="page-indecator">
    <div class="container">
        <h2 class="block-title block-title--top-larger">Categories</h2>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="gallery-wrapper">
          <%= Category.find_each do | category | %>
            <div class="col-sm-4">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner">
                      <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/#{category.name.downcase}.jpg",size: "1110x240" %>

                    </div>
                    <div class="gallery-item__info desktop-middle">
                        <h3 class="gallery-item__heading"><%= category.name %></h3>
                        <%= link_to 'Show', {:controller => "categories",:action=> "search",:id => "#{category.name}"},{ :class=> "btn btn-warning btn--decorated gallery-item__link"  }%>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>

</section>


<div class="swiper-container fading-slider">
    <div class="swiper-wrapper">
        <!--Slide-->
        <div class="swiper-slide swiper-no-swiping">
            <!-- Sevrice preview -->
            <div class="service">
                <div class="icon icon--strips">
                    <i class="icon__item fa fa-credit-card">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                    <h3 class="service__heading">Reasonable Price</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
            </div>
            <!-- end sevrice preview -->
        </div>
        <!-- Slide-->
        <div class="swiper-slide swiper-no-swiping">
            <!-- Sevrice preview -->
            <div class="service">
                <div class="icon icon--strips">
                    <i class="icon__item fa fa-heart">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                    <h3 class="service__heading">Made with Love</h3>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
            </div>
            <!-- end sevrice preview -->
        </div>
        <!--Slide-->
        <div class="swiper-slide swiper-no-swiping">
            <!-- Sevrice preview -->
            <div class="service">
                <div class="icon icon--strips">
                    <i class="icon__item fa fa-cogs">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                    <h3 class="service__heading">Fully Customizable</h3>
                </a>
                <p>Nullam lacinia nibh et nisi luctus rhoncus. Cras vitae purus volutpat, rhoncus mauris quis, elementum neque. In cursus magna eget consequat placerat. Nulla facilisi. </p>
            </div>
            <!-- end sevrice preview -->
        </div>
        <!-- Slide-->
        <div class="swiper-slide swiper-no-swiping">
            <!-- Sevrice preview -->
            <div class="service">
                <div class="icon icon--strips">
                    <i class="icon__item fa fa-phone">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                    <h3 class="service__heading">Premium-class Support</h3>
                </a>
                <p>Sed eget placerat arcu. Nullam porta faucibus ligula, egestas tempus tellus dapibus tincidunt. Nunc vitae interdum massa. Nam in augue quis elit sagittis accumsan.</p>
            </div>
            <!-- end sevrice preview -->
        </div>
        <!--Slide-->
        <div class="swiper-slide swiper-no-swiping">
            <!-- Sevrice preview -->
            <div class="service">
                <div class="icon icon--strips">
                    <i class="icon__item fa fa-dashboard">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                    <h3 class="service__heading">Efficient Workflow</h3>
                </a>
                <p>Sed eget placerat arcu. Nullam porta faucibus ligula, egestas tempus tellus dapibus tincidunt. Nunc vitae interdum massa. Nam in augue quis elit sagittis accumsan.</p>
            </div>
            <!-- end sevrice preview -->
        </div>
        <!--Slide-->
        <div class="swiper-slide swiper-no-swiping">
            <!-- Sevrice preview -->
            <div class="service">
                <div class="icon icon--strips">
                    <i class="icon__item fa fa-magic">&nbsp;</i>
                </div>
                <a class="service__link" href="single-service.html">
                    <h3 class="service__heading">Innovative Technologies</h3>
                </a>
                <p>Sed eget placerat arcu. Nullam porta faucibus ligula, egestas tempus tellus dapibus tincidunt. Nunc vitae interdum massa. Nam in augue quis elit sagittis accumsan.</p>
            </div>
            <!-- end sevrice preview -->
        </div>
    </div>
    <div class="fade-slider-control">
        <a class="prev-arrow" href="#"><i class="fa fa-angle-left"></i></a>
        <a class="next-arrow" href="#"><i class="fa fa-angle-right"></i></a>
    </div>
    <!-- end slider controls-->
    <div class="clearfix"></div>
    <div class="product-slider-pagination fade-pagination"></div>
</div>
<script>
$(document).ready(function() {

    fadingSlider();
    staffSlider();

        $('.achivement-item').one('inview', function(event, visible) {
            if (visible == true) {
                $('.achivement-item__marker.start-1').addClass('zoomIn');
                $('.achivement-item__marker.start-2').addClass('zoomIn stage2');
                $('.achivement-item__marker.start-3').addClass('zoomIn stage3');
            }
        });

        $('.promo__btn').one('inview', function(event, visible) {
            if (visible == true) {
                $('.promo__btn').addClass('fadeInUp');

                setTimeout(function() {
                    $('.promo__btn').removeClass('fadeInUpStart');
                }, 1000);
            }
        });

        $('.about ').one('inview', function(event, visible) {
            if (visible == true) {
                $('.about-img').addClass('fadeInUp');
            }
        });

});
</script>
