<%= form_for(category, html: { :multipart => true }) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subcategory %>
    <%= f.text_field :subcategory %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" name="file">
    </div>
    <div class="file-path-wrapper col s12 m9">
      <input class="file-path validate col s12 m9" type="text">
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Crear', :class => "waves-effect waves-light btn-large" %>
  </div>
<% end %>
