<section class="page-indecator">
    <div class="container">
        <h2 class="heading">Products</h2>
        <!-- Default one color divider -->
        <div class="divider divider--bottom-md"></div>
    </div>
</section>
<section class="container product-wrapper">
  <% @products.each do |product| %>
  <div class="product product--list">
    <div class="row">
      <div class="col-sm-8 col-md-9 separate-block">
        <div class="product__photo product__photo--bordered">
          <div class="product__marker">new</div>
          <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/#{product.category.name.downcase}.jpg", size: "620x250"%></i>
        </div>
        <a class="product__title" href="#"><%= product.name %></a>
        <div class="product-rating">
          <div class="score"></div>
        </div>
        <p class="product__info">Usually ships in 2 to 4 weeks FREE Shipping. Pellentesque in lacinia quam. Fusce quis nulla tincidunt, interdum magna vitae, viverra est. Nunc eu sodales turpis, varius viverra mauris.</p>
        <%= link_to "Show", {:controller => "products",:action=> "show",:id => "#{product.id}"}, {} %>
      </div>
      <!-- end col -->
      <div class="col-sm-4 col-md-3">
        <div class="product__action">
          <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/user_unknow.jpg", width:"20%" %>

          <b><%= product.provider %></b>
          <i><%= product.provider.country %></i>
          <p><%= product.provider.nickname %></p>
          <p>(01 55)5555-55555<p>
          <p>user@nos-unimos.com</p>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <% end %>
</section>
