  <div class="row">
    <div class="col m12">
      <%= form_tag("/provider/contact/#{@product.id}", method: "post", class:"contact contact--clean contact--icon") do %>
        <h3 >Escríbenos si necesitas algo en especial...</h3>
        <div class="contact__field-container contact__field--name">
          <%= text_field_tag 'name', nil, class:"contact__field ", placeholder:"Nombre Completo:" %>
        </div>
        <div class="contact__field-container contact__field--email">
          <%= text_field_tag 'email', nil, class:"contact__field contact__field--email ", placeholder:"Correo Electronico:" %>
        </div>
        <div class="contact__field-container contact__field--email">
          <%= text_field_tag 'phone', nil, class:"contact__field contact__field--email ", placeholder:"Telefono:" %>
        </div>
        <div class="contact__field-container contact__field--area">
          <%= text_area_tag 'message', nil, class:"materialize-textarea", placeholder:"Mensaje: " %>
        </div>
        <div class="col-md-12">
          <div class="col m5">
            <%= text_field_tag 'cantidad', nil, class:"contact__field ",placeholder: "cantidad" %>
          </div>
          <div class="col m5">
            <%= select_tag "unidad", options_for_select(@unidades), {:class => "selectpicker form-control"} %>
          </div>
        </div>
        <p>&nbsp;</p>
        <%= submit_tag 'Enviar Mensaje', class:"btn btn--decorated btn-warning btn-submit" %>
      <% end %>
      <br />
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
