<section class="page-indecator">
  <div class="container">
    <h2 class="heading">Products</h2>
    <!-- Default one color divider -->
    <div class="divider divider--bottom-md"></div>
  </div>
</section>
<section class="container product-wrapper">
  <% @products.each do |product| %>
    <div class="product product--list product--list-sm">
      <div class="row">
        <div class="col-sm-8 col-md-9 separate-block">
          <div class="product__photo product__photo--bordered">
            <div class="product__marker">new</div>
            <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/#{product.category.name.downcase}.jpg", size:"200x150" %></i>
          </div>
          <%= link_to "<font size='5'>#{ product.name }</font>".html_safe, {:controller => "products",:action=> "show",:id => "#{product.id}"}, {} %>
          <div class="product-rating">
            <div class="score"></div>
          </div>
          <p class="product__info">
          <div class="col-sm-4"><b>MXN $ <%= product.price %> / Ton</b></div>
          <div class="col-sm-4"><b><%= product.min_order_quantity %> (Min Order)</b></div>
          </p>
          <br />
          <p class="product__info">
          <div class="col-sm-4">
            MXN $ <%= product.price %> / Ton
            <br />
            MXN $ <%= product.price %> / Ton
          </div>
          <div class="col-sm-4">
            <%= product.min_order_quantity %> (Min Order)
            <br />
            <%= product.min_order_quantity %>
          </div>
          </p>
        </div>
        <!-- end col -->
        <div class="col-sm-4 col-md-3">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-3">
                <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/user_unknow.jpg", width:"100%" %>
              </div>
              <div class="col-sm-9">
                <%= product.provider %>
              </div>
            </div>
            <br /><br />
            <div class="col-sm-12">
              <div class="col-sm-6">
                <i><%= product.provider.country %></i>
              </div>
              <div class="col-sm-6">
                <%= product.provider.nickname %>
              </div>
              <p>(01 55)5555-55555<p>
              <%= link_to "<button class='btn btn-warning'>Contact Provider</button>".html_safe, {:controller => "products",:action=> "contact",:id => "#{product.id}", :email => "email@emial.com"}, {} %>

            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  <% end %>
</section>
