<div class="woocommerce woocommerce-page">
<div id="wrap" class="wrap sideBarRight sideBarShow menuStyle1 menuSmartScrollShow blogStyleExcerpt bodyStyleWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG">
		<div id="wrapBox" class="wrapBox">
			<div class="wrapContent">
				<div id="wrapWide" class="wrapWide">
					<div class="content">

						<section class="">
							<div class="container">
								<section class="post shop_mode_thumbs">
									<article class="post_content">
										<nav class="woocommerce-breadcrumb" >
										</nav>
										<h1 class="page-title">Prodcutos</h1>
										<p class="woocommerce-result-count">
										Mostrando 1&ndash;10 de 14 resultados</p>
										<ul class="products">
											<li class="first product">
												<a href="shop_product.html">
													<span class="onsale">Oferta!</span>
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img1.jpg" class="attachment-shop_catalog" alt="apetito1" />
													<h3>Apetito Organic Penne</h3>
													<span class="price">
														<del>
															<span class="amount">$ 9.00</span>
														</del>
														<ins>
															<span class="amount">$ 7.20</span>
														</ins>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img2.jpg" class="attachment-shop_catalog" alt="baby food-1" />
													<h3>Beech Nute Baby Food</h3>
													<span class="price">
														<span class="amount">$ 5.00</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img3.jpg" class="attachment-shop_catalog" alt="15532101040" />
													<h3>Delallo Pasta</h3>
													<span class="price">
														<span class="amount">$ 3.65</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>
											</li>
											<li class="last product">
												<a href="shop_product.html">
													<span class="onsale">Oferta!</span>
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img4.jpg" class="attachment-shop_catalog" alt="15835-cafedirect-machu-picchu-organic-coffee-beans-a" />
													<h3>Espresso Roast Coffee Beans</h3>
													<span class="price">
														<del>
															<span class="amount">$ 26.00</span>
														</del>
														<ins>
															<span class="amount">$ 18.00</span>
														</ins>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="first product">
												<a href="shop_product.html">
													<span class="onsale">Oferta!</span>
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img5.jpg" class="attachment-shop_catalog" alt="NYfresh" />
													<h3>Full Cream Organic Milk</h3>
													<span class="price">
														<del>
														<span class="amount">$ 6.70</span>
														</del>
														<ins>
														<span class="amount">$ 5.20</span>
														</ins>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img6.jpg" class="attachment-shop_catalog" alt="GBR-07432-1" />
													<h3>Gerber Organic</h3>
													<span class="price">
														<span class="amount">$ 4.50</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img7.jpg" class="attachment-shop_catalog" alt="Natural-whole-grain-bread" />
													<h3>Natural Whole-grain Bread</h3>
													<span class="price">
														<span class="amount">$ 4.61</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="last product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img8.jpg" class="attachment-shop_catalog" alt="mlk_11oz_prot_bal_PR" />
													<h3>Organic Balance Milk</h3>
													<span class="price">
														<span class="amount">$ 6.60</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="first product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img9.jpg" class="attachment-shop_catalog" alt="apetito2" />
													<h3>Organic Capellini</h3>
													<span class="price">
														<span class="amount">$ 5.00</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/img10.jpg" class="attachment-shop_catalog" alt="244319-Coffee_Espresso_500g_Large" />
													<h3>Organic Coffee Whole Beans</h3>
													<span class="price">
														<span class="amount">$ 20.00</span>
													</span>
												</a>
												<%= link_to 'Mostrar', product_path(1), :method => :get, :class=> "button add_to_cart_button product_type_simple" %>

											</li>
										</ul>
										<nav class="woocommerce-pagination">
											<ul class='page-numbers'>
												<li>
													<span class='page-numbers current'>1</span>
												</li>
												<li>
													<a class='page-numbers' href='#'>2</a>
												</li>
												<li>
													<a class="next page-numbers" href="#">&rarr;</a>
												</li>
											</ul>
										</nav>
									</article>
								</section>
							</div>
						</section>

					</div>
					<div id="sidebar_main" class="widget_area sideBar">
						<aside class="widget-first widgetWrap widget_search">
							<form method="get" id="searchform" class="searchform" action="#">
								<div class="searchFormWrap">
									<div class="searchSubmit">
										<input class="sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_mini" type="submit" id="searchsubmit" value="Busqueda" />
									</div>
									<div class="searchField">
										<input class="" type="search" name="s" value="" id="s" placeholder="Busqueda &hellip;" />
									</div>
								</div>
							</form>
						</aside>
						<aside class="widget-first widgetWrap widget_tag_cloud">
							<h4 class="title">Tags</h4>
							<div class="tagcloud">
								<a href='#' title='1 topic'>Carne</a>
								<a href='#' title='4 topics'>Manzanas</a>
								<a href='#' title='1 topic'>Aguacate</a>
								<a href='#' title='8 topics'>Res</a>
								<a href='#' title='3 topics'>Pescado</a>
								<a href='#' title='7 topics'>Platana</a>
								<a href='#' title='1 topic'>Mango</a>
								<a href='#' title='12 topics'>Caña</a>
								<a href='#' title='1 topic'>Pollo</a>
							</div>
						</aside>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
