<section class="page-indecator">
  <div class="container">
    <h2 class="heading">La búsqueda <span class="text-primary"><%= params[:id] ? params[:id] : params[:search] %></span> tiene estos resultados:</h2>
    <!-- Default one color divider -->
    <div class="divider divider--bottom-md"></div>
  </div>
</section>
<section class="container product-wrapper">
  <% @products.each do |product| %>
    <div class="product product--list product--list-sm">
      <div class="row">
        <div class="col-sm-8 col-md-9 separate-block">
          <div class="product__photo product__photo--bordered">
            <% if product.category.name == 'Frutas' %>
              <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/mango.jpg",size: "2500x240" %>
            <% else %>
            <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/#{product.category.name.downcase}.jpg", size:"200x150" %></i>
            <% end %>
          </div>
          <%= link_to "<font size='5'>#{ product.name.capitalize }</font>".html_safe, {:controller => "products",:action=> "show",:id => "#{product.id}"}, {} %>
          <div class="row">
            <div class="col-md-3">
              <dl>
                <dt><i class="fa fa-money" aria-hidden="true"></i> Precio </dt>
                <dd>$ <%= product.price %> MXN por Tonelada</dd>
                <dt><i class="fa fa-truck" aria-hidden="true"></i> Orden mínima </dt>
                <dd><%= product.min_order_quantity %></dd>
              </dl>
            </div>
            <div class="col-md-5">
              <dl>
                <dt><i class="fa fa-train" aria-hidden="true"></i> Medios de envío </dt>
                <dd>Terrestre</dd>
                <dt><i class="fa fa-square" aria-hidden="true"></i> Empaquetado </dt>
                <dd>Cajas</dd>
              </dl>
            </div>
          </div>
          <br />
        </div>
        <!-- end col -->
        <div class="col-sm-4 col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-user" aria-hidden="true"></i>
                <%= product.provider %>
              </h3>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <%= image_tag "http://com.agroonline.s3.amazonaws.com/agroonline/user_unknow.jpg",style:"width: 32px; height: 32px;", class:"img-rounded media-object" %>
                  </a>
                </div>
                <div class="media-body">
                  <i class="fa fa-location-arrow" aria-hidden="true"></i> <%= product.provider.country %><br>
                  <i class="fa fa-phone" aria-hidden="true"></i> (01 55)5555-55555
                  <hr>
                  <i class="fa fa-credit-card" aria-hidden="true"></i> Medios de pago: Transferencia, efectivo
                  <br>
                  <br>
                  <%= link_to "<button class='btn btn-primary'>Contactar</button>".html_safe, {:controller => "products",:action=> "contact",:id => "#{product.id}", :email => "email@emial.com"}, {} %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  <% end %>
</section>
