<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Min order cuantity:</strong>
  <%= @product.min_order_quantity %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @product.origin %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @product.packaging %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
