<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div class="col s12 m6">
        <% unless @product.s3_assets.empty? %>
          <img id="img-primary" src="<%= @product.s3_assets.first %>" class="product-image-responsive materialboxed" width="650" />
          <br />
          <div id="gal1">
            <% @product.s3_assets.each_with_index do | asset,index |  %>
              <img class="image-miniature" src="<%= asset.url_file %>" height="68px" width="100px" value="<%= asset.url_file %>"/>
            <% end %>
          </div>
          <% if @product.provider.user.id != session[:user_id] %>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
              <div class="collapsible-header">Agregar otra Imagen</div>
              <div class="collapsible-body col m10">
                <%= form_tag(product_image_path,  method:"post", multipart: true) do %>
                  <div class="file-field input-field">
                    <div class="btn col m3">
                      <span>Imagen</span>
                      <input type="file" name="file" >
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" >
                    </div>
                    <%= hidden_field_tag 'id_product', @product.id %>
                    <%= submit_tag 'Subir', class:"btn btn--decorated btn-warning btn-submit" %>
                  </div>
                <% end %>
              </div>
              </li>
            </ul>
          <% end %>
        <% else %>
          <% if @product.provider.user.id != session[:user_id] %>
            <h4>Agrega Fotos a tu Producto</h4>
            <%= form_tag(product_image_path,  method:"post", multipart: true) do %>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Imagen</span>
                  <input type="file" name="file" >
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" >
                </div>
              </div>
              <%= hidden_field_tag 'id_product', @product.id %>
              <%= submit_tag 'Subir', class:"btn btn--decorated btn-warning btn-submit col s12 m3" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col s12 m6">
        <div class="product-right-col">
          <div align="center">
            <h2><%= @product.name.capitalize  %></h2>
          </div>
          <div class="body">
            <div class="col m12 price-box-main" >
              <br />
              <div class="">
                <div class="col s12 m6 price-info">
                  <div class="price-box">
                    <span class="regular-price">
                      <span class="price" itemprop="price">$ <%= @product.price %></span>
                    </span>
                  </div>
                </div>
                <div class="col s8 m6">
                  <div class="extra-info">
                    <div class="clear"></div>
                    <div class="write-review-btn">
                      <a href="#" data-elevio-module="chat" class="live-chat-btn right borderb0" title="Live Chat">
                        <img src="http://rdxsports.com/skin/frontend/rdxsports/default/chat/live-chat-btn.png" alt="Live Chat">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <p></p>
            </div>
            <div class="col s12 price-box-main">
              <p>
              <b>Sku Producto: <i> <%= @product.sku %></i></b>
              </p>
              <div class="col m12">
                <div class="col m6">
                  <dl>
                    <dt><b>Peso del producto</b></dt>
                    <dd><%= @product.weight %></dd>
                    <dt><b>Orden minima</b></dt>
                    <dd><%= @product.min_order_quantity %></dd>
                    <dt><b>Origen del Producto</b></dt>
                    <dd><%= @product.origin.capitalize  %></dd>
                    <dt><b>Empacado en</b></dt>
                    <dd><%= @product.packaging.capitalize %></dd>
                  </dl>
                </div>
                <div class="col m6">
                  <dl>
                    <dt><b>Tipo de Cultivo</b></dt>
                    <dd><%= @product.cultivation_type.capitalize %></dd>
                    <dt><b>Estilo del Producto</b></dt>
                    <dd><%= @product.style.capitalize %></dd>
                    <dt><b>Color del Producto</b></dt>
                    <dd><%= @product.color.capitalize %></dd>
                     <dt><b>Tiempo de vida del Producto</b></dt>
                    <dd><%= @product.shelf_life %></dd>
                    <dt><b>Municipio</b></dt>
                    <dd><%= @product.try(:municipality) %></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col m12"><br/> <hr /><br /></div>
      <div class="col m12 card horizontal">
        <h5>Proveedor</h5>
        <% provider = @product.provider %>
        <div class="col m8">
          <dl>
            <dt><b>Nombre</b></dt>
            <dd><%= provider.to_s %>
            <dt><b>Correo Electronico</b></dt>
            <dd><%= provider.user.email %></dd>
            <dt><b>Telefono</b></dt>
            <dd><%= provider.telephone %></dd>
            <dt><b>Dirección</b></dt>
            <dd><%= provider.address %></dd>
          </dl>
        </div>
        <div class="col m4 thumbnail">
            <%= image_tag "#{provider.try(:s3_asset).try(:url_file)}" %>
        </div>
      </div>
      <div class="col m12"><br/> <hr /><br /></div>
      <%= render 'contact' %>
    </div>
  </div>
</div>
