<!doctype html>
<html lang="en-us">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <title>Nos Unimos</title>
  <meta name="description" content="A Template by Congruity Hub team">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Congruity Hub team">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="telephone=no" name="format-detection">
  <link rel="icon" href="favicons/favicon_96x96.png">
  <link rel="apple-touch-icon-precomposed" href="favicons/favicon_57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/favicon_72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/favicon_114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons/favicon_144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicons/favicon_180x180.png">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="wrapper" id="top">
    <header class="header header--dark">
      <div class="header-fixed">
        <div class="header-line waypoint" data-animate-down="header-up" data-animate-up="header-down">
          <div class="container">
            <address class="contact-info pull-left hidden-lower">
              <br/>
            </address>
          </div>
        </div>
        <div class="fixed-top header-down">
          <div class="container">
            <a class="logo" href="/">
              <img src="http://com.agroonline.s3.amazonaws.com/agroonline/logo-nos-unimos.png" />
              </a>
              <nav class="z-nav">
                <a href="#" class="z-nav__toggle">
                  <span class="menu-icon"></span>
                  <span class="menu-text">navigation</span>
                  <div class="menu-head"></div>
                </a>
                <ul class="z-nav__list">
                  <li class="z-nav__item skip-element">
                    <%= link_to 'Nosotros', { :controller => "welcome", :action => "our" }, { :class => "z-nav__link z-nav__link--active menu-item"} %>
                  </li>
                  <li class="z-nav__item skip-element">
                    <span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                    <a class="z-nav__link z-nav__link--active menu-item" href="#">
                      Grupos agropecuarios
                    </a>
                    <ul class="z-nav__list-secondary mega-menu">>
                      <div class="col-sm-2 col-md-1">
                      </div>
                      <div class="col-sm-2 col-md-2">
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">></b> Bovino'.html_safe, {:controller => "categories",:action=> "search",:id => "Bovino"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">|</b> Ovino'.html_safe, {:controller => "categories",:action=> "search",:id => "Ovino"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                      </div>
                      <div class="col-sm-2 col-md-2">
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">Z</b> Porcino'.html_safe, {:controller => "categories",:action=> "search",:id => "Porcino"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">C</b> Caprino'.html_safe, {:controller => "categories",:action=> "search",:id => "Caprino"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                      </div>
                      <div class="col-sm-2 col-md-2">
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">H</b> Avicultura'.html_safe, {:controller => "categories",:action=> "search",:id => "Avicultura"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">+</b> Piscicultura'.html_safe, {:controller => "categories",:action=> "search",:id => "Picicultura"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                      </div>
                      <div class="col-sm-2 col-md-2">
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">9</b> Apicultura'.html_safe, {:controller => "categories",:action=> "search",:id => "Apicultura"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">∞</b> Cunicultura'.html_safe, {:controller => "categories",:action=> "search",:id => "Cunicultura"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>
                      </div>
                      <div class="col-sm-2 col-md-2">
                        <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">2</b> Frutas'.html_safe, {:controller => "categories",:action=> "search",:id => "Frutas"},{ :class=> "z-nav__link menu-item-categories"  }%>
                          </li>
                          <li class="z-nav__item">
                          <%= link_to '<b class="text-farm ">7</b> Verduras'.html_safe, {:controller => "categories",:action=> "search",:id => "Verduras"},{ :class=> "z-nav__link menu-item-categories"  }%>
                        </li>

                        <li class="z-nav__item">
                        </li>
                      </div>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="divider-color"></div>
          </div>
        </div>
      </header>
    <%= yield %>
    <footer class="footer">
            <div class="divider-color"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h3 class="heading-info heading-info--mobile">Información de Contacto:</h3>
            <address class="contact-info contact-info--list">
              <div class="row">
                <div class="col-xs-6 col-sm-12 one-column">
                  <a href="http://maps.google.com/?q=101 West Street, New York, NY 10014" class="contact-info__item" target="_blank">
                    <i class="fa fa-location-arrow"></i> Monterrey NL. México.
                  </a>
                  <a class="contact-info__item" href="tel://1-888-555-5555">
                    <i class="fa fa-mobile"></i> +1-888-555-5555
                  </a>
                </div>
                <div class="col-xs-6 col-sm-12 one-column">
                  <a class="contact-info__item" href="mailto:info@allec.com,sales@allec.com?subject=Email from website">
                    <i class="fa fa-envelope"></i> info@nos-unimos.com / ventas@nos-unimos.com
                  </a>
                </div>
              </div>
            </address>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <h3 class="heading-info heading-info--mobile">Redes Sociales</h3>
            <div class="social social--default">
              <ul>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-twitter"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-facebook"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-google-plus"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-pinterest"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-tumblr"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-linkedin"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-youtube"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-github-alt"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-flickr"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-vimeo-square"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-dribbble"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-stumbleupon"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-instagram"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-soundcloud"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-behance"></i></a></li>
                <li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-vine"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copy">
          &copy; Ricardo Betancourt, Carlos Jauregui, 2016. All rights reserved. Done by Making Devs / Antena Labs
        </div>
      </div>
    </footer>
    <div class="top-scroll"><i class="fa fa-angle-up"></i></div>
  </div>
</body>
</html>
