<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
  <title>Nos Unimos</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/vendor/swiper/idangerous.swiper.scrollbar.css">
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/vendor/swiper/idangerous.swiper.scrollbar.css">
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/vendor/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/vendor/woocommerce/css/select2.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/vendor/woocommerce/css/woocommerce-layout.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/vendor/woocommerce/css/woocommerce.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/fontello/css/fontello.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/fontello/css/animation.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/style.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/shortcodes.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/responsive.css" >
  <link rel="stylesheet" type="text/css" media="all" href="http://com.agroonline.s3.amazonaws.com/css/woo-style.css" >
  <%= csrf_meta_tags %>

</head>

<body class="home page">

	<div id="wrap" class="wrap fullWidth menuStyle1 menuSmartScrollShow bodyStyleFullWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG" >
		<div id="wrapBox" class="wrapBox">

			<header id="header">
				<div class="menuFixedWrapBlock"></div>
				<div class="menuFixedWrap">
					<a href="#" class="openMobileMenu"></a>
					<a href="#" class="openTopMenu"></a>
					<div class="wrapTopMenu">
						<div class="topMenu main">
							<ul id="mainmenu" class="">
								<li class="current-menu-ancestor menu-item-has-children">
									<%= link_to 'Inicio', root_path, :method => :get %>
								</li>
								<li class="">
									<%= link_to 'Nosotros', welcome_out_path, :method => :get %>
								</li>
								<li class="">
									<%= link_to 'Productos', products_path, :method => :get %>
								</li>
								<li class="">
									<%= link_to 'Contacto', contact_path, :method => :get %>
								</li>
								<% if user_signed_in? %>
									<li>
	                	Bienvenido <strong><%= current_user.email %></strong>.
									</li>
								 	<li>
										<%= link_to 'Perfil', profile_path(current_user.id), :method => :get %>
									</li>
									<li>
									 	<%= button_to "Salir", destroy_user_session_path, :method => :delete, :class => "sc_button  sc_button_skin_global sc_button_style_line sc_button_size_mini"%>
								 	</li>
                <% else %>
									<li class="usermenuLogin">
										<%= link_to "Registrate", new_user_registration_path %>
									</li>
									<li class="usermenuLogin">
										<%= link_to "Acceder", new_user_session_path %>
									</li>
								<% end %>
							</ul>
						</div>
					</div>
        </div>
        <div align="center">
          <img src="http://com.agroonline.s3.amazonaws.com/agroonline/logo-nos-unimos.png" class="logo"/>
        </div>
        </header>

		<%= yield %>

			<footer class="footerWidget">
				<hr>
				<section class="section_padding_top_80 section_padding_bottom_50 with_border_bottom">
					<div class="container">
						<div class=" sc_columns  sc_columns_3 sc_columns_indent">
							<div class="sc_columns_item  sc_columns_item_coun_1 odd first">
								<h1 class="sc_title sc_title_style_2 sc_title_center">Información de Contacto:</h1>
								<div class="sc_text sc_text_style_1">
									<address class="contact-info contact-info--list">
				            <div class="row">
				              <div class="col-xs-6 col-sm-12 ">
				                <a href="http://maps.google.com/?q=Monterrey NL. México" class="white-text" target="_blank">
				                  <i class="fa fa-location-arrow"></i> Monterrey NL. México.
				                </a>
				                <a class="white-text" href="tel://1-888-555-5555">
				                  <i class="fa fa-mobile"></i> +1-888-555-5555
				                </a>
				              </div>
				              <div class="">
				                <a class="white-text" href="mailto:info@allec.com,sales@allec.com?subject=Email from website">
				                  <i class="fa fa-envelope"></i> info@nos-unimos.com / ventas@nos-unimos.com
				                </a>
				              </div>
				            </div>
				          </address>
								</div>
							</div>
							<div class=" sc_columns_item  sc_columns_item_coun_4 even">
								<div class="sc_image sc_image_style_1 margin_bottom_40">
								</div>
								<h6 class="sc_title sc_title_style_2 sc_title_center"></h6>
								<div class="sc_text sc_text_style_1">
									<p></p>
								</div>
							</div>
							<div class=" sc_columns_item  sc_columns_item_coun_4 even">
								<h6 class="sc_title sc_title_style_2 sc_title_center">Redes Sociales</h6>
								<div class="sc_text sc_text_style_1">
									<ul class="social_style_images">
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>

											</a>
										</li>
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-behance-square fa-2x" aria-hidden="true"></i>

											</a>
										</li>
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-dribbble fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-vimeo fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="copyright">
					<a href='http://nosunimos.herokuapp.com/'>Nos Unimos</a>
					&copy; Ricardo Betancourt, Carlos Jauregui, 2016. All rights reserved. Done by Making Devs / Antena Labs

				</div>
				<div class="custom_footer">
					<div class="text">ÚNETE A Nos Unimos</div>
					<div class="sc_emailer aligncenter margin_top_20">
						<form class="sc_emailer_form">
							<input type="text" class="sc_emailer_input" name="email" value="" placeholder="Ingresa tu Correo">
							<a href="#" class="sc_emailer_button icon icon-mail8" title="Submit" data-group="E-mailer subscription"></a>
						</form>
					</div>
				</div>
			</footer>
		</div>

	</div>
	<div class="buttonScrollUp upToScroll icon-up-open-micro"></div>
	<%= javascript_include_tag "application", params[:controller] %>

	</body>
</html>
