<!doctype html>
<html lang="en-us">
  <head>
    <title>Nos Unimos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  </head>
  <body>
      <div class="nav-wrapper  green lighten-5">
        <div class="row">
          <div class="col s6">
            <a class="logo" href="/">
              <img src="http://com.agroonline.s3.amazonaws.com/agroonline/logo-nos-unimos.png" />
            </a>
          </div>
          <div class="col s6">
            <div class="right-align">
              <br />
              <p class="navbar-text pull-right">
              <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= button_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
              <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> 0 Carrito&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="nav-wrapper">
        <div class="row">
          <%= form_tag("/product/category/state", method: "post") do %>
            <div class="col s6 offset-s3 right-align">
              <div class="row">
                <div class="input-field col s9">
                  <input type="text" name="search">
                  <label>Palabras clave(Ej.: Mango, Jalisco, Michoacán, Costilla, Bultos)</label>
                </div>
                <div class="input-field col s3">
                  <button class="btn waves-effect waves-light" type="submit">Buscar</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  <%= yield %>
  <footer class="page-footer green darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Información de Contacto:</h3>
          <address class="contact-info contact-info--list">
            <div class="row">
              <div class="col-xs-6 col-sm-12 ">
                <a href="http://maps.google.com/?q=101 West Street, New York, NY 10014" class="white-text" target="_blank">
                  <i class="fa fa-location-arrow"></i> Monterrey NL. México.
                </a>
                <a class="white-text" href="tel://1-888-555-5555">
                  <i class="fa fa-mobile"></i> +1-888-555-5555
                </a>
              </div>
                <div class="col-xs-6 col-sm-12 one-column">
                  <a class="white-text" href="mailto:info@allec.com,sales@allec.com?subject=Email from website">
                    <i class="fa fa-envelope"></i> info@nos-unimos.com / ventas@nos-unimos.com
                  </a>
                </div>
              </div>
            </address>
          </div>
          <div class="col l4 offset-l2 s12">
            <h3 class="white-text">Redes Sociales</h3>
            <div class="social social--default">
              <ul>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-twitter"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-facebook"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-google-plus"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-pinterest"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-tumblr"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-linkedin"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-youtube"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-github-alt"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-flickr"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-vimeo-square"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-dribbble"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-stumbleupon"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-instagram"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-soundcloud"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-behance"></i></a></li>
                <li class="col s2"><a class="white-text" href="#" target="_blank"><i class="social__icon fa fa-vine"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright center-align">
        &copy; Ricardo Betancourt, Carlos Jauregui, 2016. All rights reserved. Done by Making Devs / Antena Labs
      </div>
    </footer>
    <%= javascript_include_tag "application", params[:controller] %>

    <script src="https://code.highcharts.com/mapdata/countries/mx/mx-all.js"></script>
</body>
</html>
