
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>Nos Unimos</title>

 <%= csrf_meta_tags %>
     <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body class="home page">

	<div id="wrap" class="wrap fullWidth menuStyle1 menuSmartScrollShow bodyStyleFullWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG" >
		<div id="wrapBox" class="wrapBox">

			<header id="header">
				<div class="menuFixedWrapBlock"></div>
				<div class="menuFixedWrap">
					<a href="#" class="openMobileMenu"></a>
					<a href="#" class="openTopMenu"></a>
					<div class="wrapTopMenu">
						<div class="topMenu main">
							<ul id="mainmenu" class="">
								<li class="current-menu-ancestor menu-item-has-children">
									<%= link_to 'Inicio', root_path, :method => :get %>
								</li>
								<li class="">
									<%= link_to 'Nosotros', welcome_out_path, :method => :get %>
								</li>
								<li class="">
									<%= link_to 'Productos', products_path, :method => :get %>
								</li>
								<li class="">
									<%= link_to 'Contacto', contact_path, :method => :get %>
								</li>
								<li class="usermenuLogin">
									<a href="#user-popUp" class="user-popup-link">Login</a>
								</li>
							</ul>
						</div>
					</div>
        </div>
        <div align="center">
          <img src="http://com.agroonline.s3.amazonaws.com/agroonline/logo-nos-unimos.png" class="logo"/>
        </div>
        </header>

		<%= yield %>

			<footer class="footerWidget">
				<hr>
				<section class="section_padding_top_80 section_padding_bottom_50 with_border_bottom">
					<div class="container">
						<div class=" sc_columns  sc_columns_3 sc_columns_indent">
							<div class="sc_columns_item  sc_columns_item_coun_1 odd first">
								<h1 class="sc_title sc_title_style_2 sc_title_center">Información de Contacto:</h1>
								<div class="sc_text sc_text_style_1">
									<address class="contact-info contact-info--list">
				            <div class="row">
				              <div class="col-xs-6 col-sm-12 ">
				                <a href="http://maps.google.com/?q=Monterrey NL. México" class="white-text" target="_blank">
				                  <i class="fa fa-location-arrow"></i> Monterrey NL. México.
				                </a>
				                <a class="white-text" href="tel://1-888-555-5555">
				                  <i class="fa fa-mobile"></i> +1-888-555-5555
				                </a>
				              </div>
				              <div class="">
				                <a class="white-text" href="mailto:info@allec.com,sales@allec.com?subject=Email from website">
				                  <i class="fa fa-envelope"></i> info@nos-unimos.com / ventas@nos-unimos.com
				                </a>
				              </div>
				            </div>
				          </address>
								</div>
							</div>
							<div class=" sc_columns_item  sc_columns_item_coun_4 even">
								<div class="sc_image sc_image_style_1 margin_bottom_40">
								</div>
								<h6 class="sc_title sc_title_style_2 sc_title_center"></h6>
								<div class="sc_text sc_text_style_1">
									<p></p>
								</div>
							</div>
							<div class=" sc_columns_item  sc_columns_item_coun_4 even">
								<h6 class="sc_title sc_title_style_2 sc_title_center">Redes Sociales</h6>
								<div class="sc_text sc_text_style_1">
									<ul class="social_style_images">
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>

											</a>
										</li>
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-behance-square fa-2x" aria-hidden="true"></i>

											</a>
										</li>
										<li>
											<a class="social_icons" href="" target="_blank">
												<i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-dribbble fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-vimeo fa-2x" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social_icons" href="#" target="_blank">
												<i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="copyright">
					<a href='http://nosunimos.herokuapp.com/'>Nos Unimos</a>
					&copy; Ricardo Betancourt, Carlos Jauregui, 2016. All rights reserved. Done by Making Devs / Antena Labs

				</div>
				<div class="custom_footer">
					<div class="text">ÚNETE A Nos Unimos</div>
					<div class="sc_emailer aligncenter margin_top_20">
						<form class="sc_emailer_form">
							<input type="text" class="sc_emailer_input" name="email" value="" placeholder="Ingresa tu Correo">
							<a href="#" class="sc_emailer_button icon icon-mail8" title="Submit" data-group="E-mailer subscription"></a>
						</form>
					</div>
				</div>
			</footer>
		</div>

	</div>

	<div class="buttonScrollUp upToScroll icon-up-open-micro"></div>

	<div id="user-popUp" class="user-popUp mfp-with-anim mfp-hide">
		<div class="sc_tabs sc_tabs sc_tabs_style_1 sc_tabs_effects">
			<ul class="sc_tabs_titles">
				<li><a href="#loginForm" class="loginFormTab">Log In</a></li>
				<li><a href="#registerForm" class="registerFormTab">Create an Account</a></li>
			</ul>

			<div class="sc_tabs_array">
			<div id="loginForm" class="formItems loginFormBody sc_columns_2">
				<form action="#" method="post" name="login_form" class="formValid">
				<div class="sc_columns_item">
						<input type="hidden" name="redirect_to" value="#" />
						<ul class="formList">
							<li class="formLogin"><input type="text" id="login" name="log" value="" placeholder="Email"></li>
							<li class="formPass"><input type="password" id="password" name="pwd" value="" placeholder="Password"></li>
							<li class="remember">
								<a href="#" class="forgotPwd">Forgot password?</a>
								<input type="checkbox" value="forever" id="rememberme" name="rememberme">
								<label for="rememberme">Remember me</label>
							</li>
							<li class="formButton"><a href="#" class="sendEnter enter sc_button sc_button_skin_global sc_button_style_bg sc_button_size_medium">Login</a></li>
						</ul>
				</div>

				<div class="sc_columns_item">
					<ul class="formList">
						<li>You can login using your social profile</li>
						<li class="loginSoc">
							<a href="#" class="iconLogin fb icon-facebook"></a>
							<a href="#" class="iconLogin tw icon-twitter"></a>
							<a href="#" class="iconLogin gg icon-gplus"></a>
						</li>
						<li><a href="#">Problem with login?</a></li>
					</ul>
				</div>
				<div class="sc_result result sc_infobox sc_infobox_closeable"></div>
				</form>
			</div>

			<div id="registerForm" class="formItems registerFormBody sc_columns_2">
				<form name="register_form" method="post" class="formValid">
					<input type="hidden" name="redirect_to" value="#"/>
					<div class="sc_columns_item">
						<ul class="formList">
							<li class="formUser"><input type="text" id="registration_username" name="registration_username"  value="" placeholder="User name (login)"></li>
							<li class="formLogin"><input type="text" id="registration_email" name="registration_email" value="" placeholder="E-mail"></li>
							<li class="i-agree">
								<input type="checkbox" value="forever" id="i-agree" name="i-agree">
								<label for="i-agree">I agree with</label> <a href="#">Terms & Conditionst</a>
							</li>
							<li class="formButton"><a href="" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium">Sing UP</a></li>
						</ul>
					</div>
					<div class="sc_columns_item">
						<ul class="formList">
							<li class="formPass"><input type="password" id="registration_pwd" name="registration_pwd" value="" placeholder="Password"></li>
							<li class="formPass"><input type="password" id="registration_pwd2" name="registration_pwd2" value="" placeholder="Confirm Password"></li>
						</ul>
					</div>
					<div class="sc_result result sc_infobox sc_infobox_closeable"></div>
				</form>
			</div>
			</div>
		</div>
	</div>

     <%= javascript_include_tag "application", params[:controller] %>

</body>
</html>
